  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
			<li>
			Contact us: 
				<li> <a href="tel:+19198067565">919-806-7565</a> </li>
				<li> <a href="tel:+14088133064">408-813-3064</a> </li>
				<li> <a href="tel:+19724895939">972-489-5939</a> </li>
			</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
